<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns="http://xmlns.jcp.org/xml/ns/javaee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd"
         version="3.1">
    <session-config>
        <session-timeout>10</session-timeout>
    </session-config>
    <servlet>
        <servlet-name>HelloServlet</servlet-name>
        <servlet-class>com.astatus.servlet.HelloServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>HelloServlet</servlet-name>
        <url-pattern>/Hello</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>LoginServelet</servlet-name>
        <servlet-class>com.astatus.servlet.LoginServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>LoginServelet</servlet-name>
        <url-pattern>/loginServlet</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>CheckServlet</servlet-name>
        <servlet-class>com.astatus.servlet.CheckServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>CheckServlet</servlet-name>
        <url-pattern>/checkServlet</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>LoginServlet16</servlet-name>
        <servlet-class>com.astatus.servlet.Servlet16</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>LoginServlet16</servlet-name>
        <url-pattern>/LoginServlet16</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>LoginServlet17</servlet-name>
        <servlet-class>com.astatus.servlet.LoginServlet17</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>LoginServlet17</servlet-name>
        <url-pattern>/LoginServlet17</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>LogoutServlet17</servlet-name>
        <servlet-class>com.astatus.servlet.LogoutServlet17</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>LogoutServlet17</servlet-name>
        <url-pattern>/LogoutServlet17</url-pattern>
    </servlet-mapping>

    <filter>
        <filter-name>FilterOne</filter-name>
        <filter-class>com.astatus.filter.FilterOne</filter-class>
        <init-param>
            <param-name>param</param-name>
            <param-value>astatus</param-value>
        </init-param>
    </filter>
    <filter-mapping>
        <filter-name>FilterOne</filter-name>
        <url-pattern>/*</url-pattern>
    </filter-mapping>
    <filter>
        <filter-name>FilterTow</filter-name>
        <filter-class>com.astatus.filter.FilterTow</filter-class>
    </filter>
    <filter-mapping>
        <filter-name>FilterTow</filter-name>
        <url-pattern>/*</url-pattern>
    </filter-mapping>
    <filter>
        <filter-name>EncodingFilter</filter-name>
        <filter-class>com.astatus.filter.EncodingFilter</filter-class>
        <init-param>
            <param-name>encoding</param-name>
            <param-value>UTF-8</param-value>
        </init-param>
    </filter>
    <filter-mapping>
        <filter-name>EncodingFilter</filter-name>
        <url-pattern>/*</url-pattern>
    </filter-mapping>

    <filter>
        <filter-name>PermissionFilter</filter-name>
        <filter-class>com.astatus.filter.PermissionFilter</filter-class>
    </filter>
    <filter-mapping>
        <filter-name>PermissionFilter</filter-name>
        <url-pattern>/*</url-pattern>
    </filter-mapping>
</web-app>